<header>
  <div class="container">
    <div class="logo">
      <img src="../../images/logo.png" srcset="../../images/logo@2x.png 2x" alt="logo">
    </div>
    <div class="search">
      <div class="search__search-form">
        <input type="text" class="search__input" placeholder="Company Name">
        <div class="search__icon">
          <div class="icon-search"></div>
        </div>
      </div>
    </div>
    <div class="icon">
      <div class="icon__btn">
        <div class="icon-chat"></div>
      </div>
      <div class="icon__btn">
        <div class="icon-notifications"></div>
      </div>
    </div>
    <div class="user">
      <div class="user__avatar">
        <img src="../../images/image.png" alt="avatar">
      </div>
      <div class="user__name">
        Maximillian Beekeeper
      </div>
    </div>
  </div>
</header>

