<div class="back__top">
  <img src="../../images/image-bc-girl.png" class="back__top-img" alt="image-bc-girl">
</div>
<header>
  <img class="header__logo" src="../../images/logo.png" srcset="../../images/logo@2x.png 2x">
  <button class="header__btn-login">Log In Now</button>
</header>
<section class="title">
  <h1 class="title__name">Home of Dentistry</h1>
  <h2 class="title__text">Denteez was created by dentists for dentistry in order to
    make the life of everyone involved in dentistry easier.</h2>
</section>
<section class="form-container">
  <form class="form-support"
        [formGroup]="FormSupport"
        novalidate
        (ngSubmit)="submit()">
    <div class="form__fields">
        <div class="form__warn">Fields marked “*” are required</div>
        <div class="form__field">
          <div class="form__field-name">Enquiry Type *</div>
          <div class="form__field-select"
               (click)="showList()">
            <input type="text"
                   [value]="selectValue"
                   readonly
                   formControlName="EnquiryType"
                   class="form__field-select-input">
            <div class="form__option-list" *ngIf="listShow">
              <div class="form__option"
                   *ngFor="let type of types"
                   (click)="setSelectValue(type)">{{type}}
              </div>
            </div>
          </div>
          <div class="form__field-err">
            <span *ngIf="false">
              Select Type
            </span>
          </div>
        </div>
        <div class="form__field" *ngIf="showOther">
          <input class="form__field-input" type="text"
                 formControlName="EnquiryType"
                 [ngClass]="{'form__field_err':validate('EnquiryType')}">
          <div class="form__field-err">
            <span *ngIf="validate('EnquiryType')">Select Type</span>
          </div>
        </div>
        <div class="form__field">
          <div class="form__field-sm">
            <div class="form__field-name">Name *</div>
            <input class="form__field-input" type="text"
                   formControlName="Name"
                   [ngClass]="{'form__field_err':validate('Name')}">
            <div class="form__field-err">
              <span *ngIf="validate('Name')">The field is wrong</span>
            </div>
          </div>
          <div class="form__field-right-sm">
            <div class="form__field-name">Email *</div>
            <input class="form__field-input" type="text"
                   formControlName="Email"
                   [ngClass]="{'form__field_err':validate('Email')}">
            <div class="form__field-err">
              <span *ngIf="validate('Email')">The field is wrong</span>
            </div>
          </div>
        </div>
        <div class="form__field">
          <div class="form__field-name">Subject *</div>
          <input class="form__field-input" type="text"
                 formControlName="Subject"
                 [ngClass]="{'form__field_err':validate('Subject')}">
          <div class="form__field-err">
            <span *ngIf="validate('Subject')">Select Type</span>
          </div>
        </div>
        <div class="form__field">
          <div class="form__field-name">Description *</div>
          <div class="form__field-desc">({{ lengDesk.length }}/1000)</div>
          <textarea name="Description *" class="form__field-textarea"
                    formControlName="Description"
                    [(ngModel)]="lengDesk"
                    [ngClass]="{'form__field_err':validate('Description')}">

          </textarea>
          <div class="form__field-err">
            <span *ngIf="validate('Description')">The field is wrong</span>
          </div>
        </div>
        <div class="form__imgs">
          <div class="form__img-box"
               *ngFor="let img of imgs; let i = index;">
            <div class="form__img-container">
              <img src="{{img}}" alt="" class="form__img">
            </div>
            <button class="form__img-delete" (click)="deleteImg(i)">x</button>
          </div>
          <div class="form__upload-container">
            <div class="form__upload">
              <div class="form__upload-info">
                <div class="form__upload-head">
                  Add photo
                </div>
                <span class="form__upload-text">
                  Minimum size of
                  300x300 jpeg ipg
                  png 5 MB
                </span>
                <div class="form__upload-err"
                  *ngIf="invalid_img">
                  The photo does
                  not meet
                  the requirements
                </div>
              </div>
              <input type="file"  class="form__input-upload"
                     formControlName="Images"
                     (change)="imgLoad($event)"
                     accept="image/*"
                     multiple>
            </div>
          </div>
        </div>
    </div>
    <button class="btn-send">Submit</button>
  </form>
</section>

<section class="about">
  <div class="container">
    <h2 class="about__head">About Denteez</h2>
    <div class="about__left">
      Why is it always so difficult to find what you are looking for in dentistry? Whether it is the latest advancement in technology or techniques or simply a review or understanding of the vast amount of products? Perhaps finding someone to just fix your broken equipment or simply hiring new staff or looking for that new job?
    </div>
    <div class="about__right">
      Our mission is to give every dental professional the possibility to discuss and share all aspects of their profession, their practice and their business. We aim to make the world of dentistry easy and accessible, so every dental professional can find what they are looking for quickly and easily all in one place.
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer__left">
      <div class="footer__text">Denteez Copyright 2015</div>
    </div>
    <div class="footer__right">
      <a href="#" class="footer__href">Support</a>
      <a href="#" class="footer__href">Privacy Policy</a>
      <a href="#" class="footer__href">Terms of use</a>
    </div>
  </div>
</footer>

