@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon"
@import "../../variables"

.imgs
  overflow-x: scroll
  height: 150px

.img
  height: 100%
  display: inline-block
  position: relative
  img
    height: 100%

.delete
  +position(absolute, 0)
  +size(30px)
  background-color: rebeccapurple


/* header */
header
  margin-top: 40px
  +clearfix

.header
  &__logo
    +size(130px 40px)
    float: left
    margin: 0 0 0 50px
  &__btn-login
    float: right
    margin-right: 40px
    +btn_green
    +size(109px 30px)
    line-height: 30px



/* Header title */

.title
  +size(100% auto)
  font-family: "Proxima Nova Light", sans-serif
  text-align: center
  margin: 117px 0 178px 0
  color: $c_support_head
  line-height: 30px
  &__name
    font-weight: lighter
    padding-bottom: 17px
    font-size: 48px
  &__text
    font-weight: lighter
    +size(483px 48px)
    margin: 0 auto
    font-size: 19px


.back
  +size(100% auto)
  background: url("../../images/bg.png")
  &__top
    +size(100% 510px)
    +position(absolute, 0 0 auto 0)
    overflow: hidden
    z-index: -1
    background-color: $bc_placehold
    &-img
      width: 100%
      opacity: .1



/*  Form */

.form-container
  +size(100% auto)
  background: url("../../images/bg.png")

form.form-support
  +size(760px auto)
  margin: 0 auto
  transform: translate(0,-100px)

.form
  &__fields
    width: 100%
    padding: 20px
    border-radius: 5px
    border: 1px solid $c_grey_border
    background-color: $c_white
  &__field
    +size(100% auto)
    font-size: 16px
    &_err
      border-color: $c_warning !important
    &-sm,&-right-sm
      width: 344px
      display: inline-block
    &-sm
      padding-right: 10px
    &-right-sm
      float: right
    &-name,&-desc
      height: 21px
      padding-bottom: 7px
      color: $bc_placehold
      display: inline-block
    &-desc
      float: right
    &-input,&-textarea
      +size(100% 52px)
      +border_input
      padding-left: 20px
      +placeholder
        color: $c_white
    &-textarea
      +size(100% 152px)
      max-width: 100%
      max-height: 300px
      padding-top: 15px
    &-err
      height: 20px
      padding: 4px 0 8px 0
      color: $c_warning
      font-size: 12px
    &-select
      @extend .form__field-input
      position: relative
      &-input
        height: 100%

  &__option
    line-height: 52px
    cursor: pointer
    padding-left: 20px
    +hover(0)
      background-color: $c_support_head
    &-list
      +size(calc(100% + 2px) auto)
      +position(absolute, calc(100% - 5px) auto auto -1px)
      +border_input()
      +scrollbars(.5em, $c_form_load)
      background-color: $c_white
      overflow: auto
      max-height: 52px * 3
      border-top-left-radius: 0
      border-top-right-radius: 0
      border-top: 0
  &__warn
    +size(100% 31px)
    color: $c_form_warn
    font-size: 16px
    padding-bottom: 17px


  &__imgs
    width: calc(100% + 18px)
    margin: 0 0 -20px 0
    +clearfix
  &__img
    height: 100%
    &-box
      width: 20%
      float: left
      position: relative
      +hover(0)
        .form__img-delete
          display: block
    &-container
      +size(130px)
      +border_input(4px)
      margin: 0 auto 20px 0
      overflow: hidden
    &-delete
      +size(24px)
      display: none
      background-color: $c_img_close
      +position(absolute, -10px 6px auto auto)
      border-radius: 50%
      color: $c_white
      +hover(0.15s)
        background-color: $c_danger
  &__upload
    @extend .form__img-container
    background-color: $c_form_load_bc
    &-container
      @extend .form__img-box
    &-info
      +size(100% 128px)
      padding: 0 16px
      display: table-cell
      vertical-align: middle
      text-align: center
    &-text
      color: $c_form_load
      font-size: 12px
    &-head
      color: $c_sup_text
      font-size: 16px
    &-err
      color: $c_warning
      font-size: 12px
  &__input-upload
    +size(100%)
    +position(absolute, 0 0 0 0)
    opacity: 0
    cursor: pointer


.btn-send
  +size(100% 52px)
  line-height: 52px
  +btn_green
  font-size: 16px
  margin: 20px 0 99px 0
  +border_bottom


/*  about */
.about
  font-weight: 100
  padding: 98px 0 112px 0
  &__head
    font-weight: 100
    padding-bottom: 50px
    color: $bc_placehold
    font-size: 30px
    text-align: center
  &__left,
  &__right
    width: 50%
    color: $c_sup_text
    font-size: 16px
  &__left
    float: left
    padding-right: 52px
  &__right
    float: right
    padding-right: 52px
