<aside class="menu-left">
  <div class="nav">
    <a href="#feed" class="nav__item">
      <div class="nav__icon">
        <div class="icon-feed"></div>
      </div>
      <div class="nav__text">Feed</div>
    </a>
    <a href="#Ask" class="nav__item">
      <div class="nav__icon">
        <div class="icon-ask"></div>
      </div>
      <div class="nav__text">Ask a Colleague</div>
    </a>
    <a href="#Companies" class="nav__item">
      <div class="nav__icon">
        <div class="icon-companies"></div>
      </div>
      <div class="nav__text">Companies</div>
    </a>
    <a href="#Service" class="nav__item">
      <div class="nav__icon">
        <div class="icon-services"></div>
      </div>
      <div class="nav__text">Service Directory</div>
    </a>
  </div>

  <div class="advertisement">
    <div class="advertisement__text">Advertisement</div>
    <a href="" class="advertisement__img">
      <img src="../../images/-----1.png" alt="">
    </a>
    <a href="" class="advertisement__small-text">
      Ads By Denteez.com
    </a>
  </div>

  <div class="featured">
    <div class="side__head">
      <span class="side__h-text">Featured Companies</span>
      <a href="" class="side__all">All</a>
    </div>
    <div class="side__item">
      <a href="" class="side__i-img">
        <img src="../../images/layer-39.png" alt="">
      </a>
      <div class="side__i-info">
        <a href="#" class="side__i-name">Company Name</a>
        <div class="side__i-type">Manufacturer</div>
        <div class="side__i-town">Belgrade, Serbia</div>
        <a href="#" class="side__i-follow">Follow Now</a>
      </div>
    </div>
    <div class="side__item">
      <a href="" class="side__i-img">
        <img src="../../images/layer-39.png" alt="">
      </a>
      <div class="side__i-info">
        <a href="#" class="side__i-name">Company Name</a>
        <div class="side__i-type">Service Provider</div>
        <div class="side__i-town">New York, USA</div>
        <a href="#" class="side__i-follow">Follow Now</a>
      </div>
    </div>
    <div class="side__item">
      <a href="" class="side__i-img">
        <img src="../../images/layer-39.png" alt="">
      </a>
      <div class="side__i-info">
        <a href="#" class="side__i-name">Company Name</a>
        <div class="side__i-type">Supplier</div>
        <div class="side__i-town">London, England</div>
        <a href="#" class="side__i-follow">Follow Now</a>
      </div>
    </div>
  </div>

  <div class="aside-footer">
    <div class="aside-footer__cop">
      Denteez Copyright 2015
    </div>
    <a href="" class="aside-footer__term">Terms of use</a>
    <a href="">Privacy Policy</a>
  </div>

</aside>
