<aside class="menu-right">
  <div class="people">
    <div class="side__head">
      <span class="side__h-text">People you may know</span>
      <a href="" class="side__all">See All</a>
    </div>
    <div class="side__item">
      <a href="#" class="side__i-name-long">Dennis Adams</a>
      <a href="" class="side__i-img">
        <img src="images/layer-36.png" alt="">
      </a>
      <div class="side__i-info">
        <div class="side__i-type">
          Dentist (Practice
          Owner)
        </div>
        <div class="side__i-town-p">London, England</div>
        <a href="#" class="side__i-follow">Add Friend</a>
      </div>
    </div>
    <div class="side__item">
      <a href="#" class="side__i-name-long">Mary Carpenter</a>
      <a href="" class="side__i-img">
        <img src="images/layer-37.png" alt="">
      </a>
      <div class="side__i-info">
        <div class="side__i-type">
          Dentist (Practice
          Owner)
        </div>
        <div class="side__i-town-p">Belgrade, Serbia</div>
        <a href="#" class="side__i-follow">Add Friend</a>
      </div>
    </div>
    <div class="side__item">
      <a href="#" class="side__i-name-long">Danielle Salazar</a>
      <a href="" class="side__i-img">
        <img src="images/layer-38.png" alt="">
      </a>
      <div class="side__i-info">
        <div class="side__i-type">
          Dentist (Practice
          Owner)
        </div>
        <div class="side__i-town-p">Paris, France</div>
        <a href="#" class="side__i-follow">Add Friend</a>
      </div>
    </div>
  </div>

  <div class="featured-product">
    <div class="side__head">
      <span class="side__h-text">Featured Products</span>
      <a href="" class="side__all">See All</a>
    </div>
    <div class="side__item">
      <a href="#" class="side__i-name-long">Product Name</a>
      <a href="" class="side__i-img">
        <img src="images/layer-34.png" alt="">
      </a>
      <div class="side__i-info">
        <div class="side__i-desc">
          Product Short Description. The quick brown
          fox jumps over the
          lazy dog.
        </div>
      </div>
    </div>
    <div class="side__item">
      <a href="#" class="side__i-name-long">Product Name</a>
      <a href="" class="side__i-img">
        <img src="images/layer-35.png" alt="">
      </a>
      <div class="side__i-info">
        <div class="side__i-desc">
          Product Short
          Description. The quick brown
          fox jumps over the
          lazy dog.
        </div>
      </div>
    </div>
  </div>

  <app-advertisement></app-advertisement>

</aside>
