$c_green: #87b448
$c_green_hover: #94c54f
$c_dark_green: #71973c
$c_search: #73993d
$c_search_icon: #8ebc4d
$c_icon_head_hover: #cad862
$c_white: white
$c_grey_border: #e0e2e6
$c_nav_icon: #c7cdd9
$c_nav_text: #59606b
$c_advertisement: #7c8695
$c_advert_small_text: #d3d3d3
$c_hr_all: #1c2534
$c_aside_foot: #b7bfcd
$c_service_hover: #f4f7fb
$c_border: #c8cdd5
/* support */
$bc_placehold: #1c2534
$c_support_head: #f3f4f6
$c_sup_text: #7c8695
$c_form_warn: #c1c1c1
$c_form_load: #c2c2c4
$c_form_load_bc: #f7f7f7
$c_warning: #fb6363
$c_img_close: #65bade
$c_danger: #d95252

=border_bottom()
  border-bottom: 1px solid $c_grey_border

=border_input($rad: 5px)
  border: 1px solid $c_border
  border-radius: $rad

=hover($tr: .3s)
  @if($tr != 0)
    +transition($tr)
  &:hover
    @content

=btn_green()
  color: $c_white
  border-radius: 5px
  background-color: $c_green
  text-align: center
  +hover
    background-color: $c_green_hover


=scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%))
  &::-webkit-scrollbar
    width:  $size
    height: $size
  &::-webkit-scrollbar-thumb
    background: $foreground-color
    border-radius: 50px
  &::-webkit-scrollbar-track
    background: $background-color
